.hero-selling {
    background: linear-gradient(
        rgba(255,195,189,0.10),
        rgba(255,195,189,1)
    ), url("../img/hero2.png") fixed;
    /* background-image: url("../img/hero1.png"); */
    background-size: cover;
    background-position: center;
    /* background: fixed; */
    color: #000;
    /* padding: 90px 20px; */
    text-align: center;
    /* height: 90vh; */
}

::after,::before,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #ffc3bd;
    --secondary-color: #d98a8a;
    /* --color:#000 */
}

html { font-size: 62.5%;
    font-family: roboto, sans-serif;
    background-color: var(--primary-color);
    
   
}


.nav{
    height: 60px;
    background-color: rgba(255,195,189,0.9);
    /* margin-bottom: 20px; */
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--color);


    padding:0 10rem
    
}

.logo{
    font-size: 3.5rem;
    font-family:'Sacramento', cursive ;

}

.nav-items a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 400;
    color: var(--color);
    text-transform: uppercase;
    font-size: 1.5rem;
    
}

.hero-content {
    /* max-width: 900px; */
    margin-top: 25vh;
    height: 90vh;
}

.hero-text h1
{
    font-size: 7rem;
    font-family: 'Sacramento', cursive;
}

.hero-selling h1 {
    /* font-size: 38px; */
    margin-bottom: 10px;
}

.hero-selling h2 {
    font-size: 22px;
    font-weight: normal;
    /* margin-bottom: 20px; */
}

.hero-why{
    margin-top: 20rem;
    display: flex ;
    padding: 0 10rem;
    justify-content: space-around;

}
.hero-why h3{
    /* margin-top: 20rem;
    display: flex ;
    padding: 0 10rem;
    justify-content: space-around; */
    font-size: 2rem;
    /* color: var(--secondary-color); */
}


.hero-why img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}


.dial{
    font-size:2.5rem;
    text-decoration: none;
    /* color: red; */
    color:#000;
    text-transform: uppercase;
    /* background: #000; */
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 5rem;
    }
.dial img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;  
}


.dial:hover img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 8px;  
    transition: 1s;
}
.services{
    padding-top: 10rem;

}
.services h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}

.service-grid{
   /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  */
    /* gap: 20px; */
    /* padding: 0 2rem; */
    /* display: grid; */
  /* grid-template-columns: 1fr 1fr; image | content */
  border-radius: 14px;
  overflow: hidden;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
      gap: 10rem;
    /* background-color: red; */
    border-radius: 8px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    text-align: center;

}
.card img{
     width: 100%;
   height: 50rem;
  object-fit: cover;
}

.card-content{
    width: 100%;
     grid-column: 2 / 3;

}

.card h2{
    font-size: 20rem;
    margin-bottom: 10px;
    color:var(--secondary-color);
    font-family: 'Kaushan Script', cursive;
    /* font-style: italic; */
    text-align: start;

}
.card  h3{
    font-size: 5rem;
    text-align: start;
    font-family: Corben, sans-serif;
    font-weight: 100;
}
.card p{
    font-size: 2rem;
    text-align: start;
    margin-top: 10px;
    line-height: 1.5;
    

}



.pricing h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}


.pricing-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;


}

.princing{
    
}

.heading{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}