.hero-selling {
    background: linear-gradient(
        rgba(255,195,189,0.10),
        rgba(255,195,189,1)
    ), url("../img/hero2.png") fixed;
    /* background-image: url("../img/hero1.png"); */
    background-size: cover;
    background-position: center;
    /* background: fixed; */
    color: #000;
    /* padding: 90px 20px; */
    text-align: center;
    /* height: 90vh; */
}

::after,::before,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #ffc3bd;
    --secondary-color: #d98a8a;
    /* --color:#000 */
}

html { font-size: 62.5%;
    font-family: roboto, sans-serif;
    background-color: var(--primary-color);
    
   
}


.nav{
    height: 60px;
    background-color: rgba(255,195,189,0.9);
    /* margin-bottom: 20px; */
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: var(--color);


    /* padding:0 10rem; */
    
}

.logo{
    font-size: 3.5rem;
    font-family:'Sacramento', cursive ;

}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}

.nav-items a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 400;
    color: var(--color);
    text-transform: uppercase;
    font-size: 1.5rem;
    
}

.hero-content {
    /* max-width: 900px; */
    margin-top: 25vh;
    height: 90vh;
}

.hero-text h1
{
    font-size: 7rem;
    font-family: 'Sacramento', cursive;
}
@media (max-width: 768px) {
  .hero-text h1 {
     font-size: 5rem;
  }
}


.hero-selling h1 {
    /* font-size: 38px; */
    margin-bottom: 10px;
}

.hero-selling h2 {
    font-size: 2rem;
    font-weight: normal;
    /* margin-bottom: 20px; */
}

.hero-why{
    margin-top: 20rem;
    display: flex ;
    padding: 0 10rem;
    justify-content: space-around;

}
@media (max-width: 768px) {
  .hero-why{
     /* margin-top: 0rem; */
     flex-direction: column;
     justify-content: center;
     align-items: center;
      gap: 5rem;
    height: 10rem

  }
}
.hero-why h3{
    /* margin-top: 20rem;
    display: flex ;
    padding: 0 10rem;
    justify-content: space-around; */
    font-size: 2rem;
    /* color: var(--secondary-color); */
}


.hero-why img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}


.dial{
    font-size:2.5rem;
    text-decoration: none;

    /* color: red; */
    color:#000;
    text-transform: uppercase;
    /* background: #000; */
    letter-spacing: 2px;
    display: inline-block;
    padding:1rem 2rem ;
    border-radius: 10rem;
    margin-top: 5rem;
    background: var(--primary-color);
    color: #fff;
    padding: 12px 28px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;

}

@media (max-width: 768px) {
  .dial {
     font-size: 2rem;
  }
}

.dial:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}


.dial img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;  
}


.dial:hover img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 8px;  
    transition: 1s;
}
.services{
    padding-top: 10rem;

}
.services h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}

.service-grid{
   /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  */
    /* gap: 20px; */
    /* padding: 0 2rem; */
    /* display: grid; */
  /* grid-template-columns: 1fr 1fr; image | content */
  border-radius: 14px;
  overflow: hidden;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
      gap: 10rem;
    /* background-color: red; */
    border-radius: 8px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    text-align: center;

}
.card img{
     width: 100%;
   height: 50rem;
  object-fit: cover;
}

.card-content{
    width: 100%;
     grid-column: 2 / 3;

}

.card h2{
    font-size: 20rem;
    margin-bottom: 10px;
    color:var(--secondary-color);
    font-family: 'Kaushan Script', cursive;
    /* font-style: italic; */
    text-align: start;

}
@media (max-width: 768px) {
 .card h2{
    font-size: 6rem;
    

}

  .card{
      display: grid;
      grid-template-columns: 1fr;
        gap: 0;
      border-radius: 8px;
      text-align: center;
  
  }

    .card  h3{
        font-size: 1rem;
        text-align: center;
    }

      .card img{
      width: 100%;
      height: 50rem;
      object-fit: cover;
      grid-column: 1 / 2;
      }

      .card-content{
      width: 100%;
      grid-column: 1 / 2;

      }
}

 
.card  h3{
    font-size: 5rem;
    text-align: start;
    font-family: Corben, sans-serif;
    font-weight: 100;
}
.card p{
    font-size: 2rem;
    text-align: start;
    margin-top: 10px;
    line-height: 1.5;
    

}



.pricing h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}


.pricing-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;


}

.princing{
    
}

.heading{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}


.price-section {
  padding: 60px 20px;
  background: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

.price-section h2 {
  text-align: center;
  /* color: #c2185b; */
  font-size: 32px;
}

.subtitle {
  text-align: center;
  margin-bottom: 40px;
  color: #666;
}

/* GRID LAYOUT */
.price-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  max-width: 1100px;
  margin: auto;
}

/* CARD */
.price-card {
  /* background: #ffffff; */
  border-radius: 14px;
  padding: 25px;
  /* box-shadow: 0 8px 20px rgba(0,0,0,0.08); */
}

.price-card h3 {
  /* color: #c2185b; */
font-size: 3rem;
  margin-bottom: 15px;
     font-family: 'Kaushan Script', cursive;
}

.price-card ul {
  list-style: none;
  padding: 0;
}

.price-card li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  /* border-bottom: 1px dashed
   #ddd; */
  font-size: 15px;
}

.price-card li span {
  font-weight: 600;
}

/* FOOT NOTE */
.note {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 30px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .price-grid {
    grid-template-columns: 1fr;
  }
}


.why-us {
  padding: 60px 20px;
}

.why-wrapper {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border-radius: 16px; */
  overflow: hidden;
  /* box-shadow: 0 10px 30px rgba(0,0,0,0.1); */
}

/* IMAGE SIDE */
.why-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* CONTENT SIDE */
.why-text {
  background: var(--primary-color);
  /* color: #fff; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: top; */
}

.why-text h2 {
  font-size: 5rem;
  margin-bottom: 15px;
}

.why-text p {
  font-size: 16px;
  line-height: 1.6;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .why-wrapper {
    grid-template-columns: 1fr;
  }

  .why-text {
    text-align: center;
  }
}


.cta{
    background-color: #d9736a;
    /* height: 15rem; */
}


.why-text{

}
.cta .dial-2{
  /* font-family: 'Kaushan Script', cursive; */
}

.cta {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding:5rem 10rem
  
  }


  .site-footer {
  background-color: #393131;
  color: #eaeaea;
  padding: 30px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.footer-content p {
  margin: 8px 0;
  font-size: 14px;
}

.site-footer a {
  color: #fdc5be;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.heart {
  color: #ff4d6d;
}

.copyright {
  font-size: 13px;
  color: #cccccc;
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 58%;
  }
}