.hero-selling {
    background: linear-gradient(
        rgba(255,195,189,0.10),
        rgba(255,195,189,1)
    ), url("../img/hero1.png") fixed;
    /* background-image: url("../img/hero1.png"); */
    background-size: cover;
    background-position: top;
    /* background: fixed; */
    color: #000;
    /* padding: 90px 20px; */
    text-align: center;
    /* height: 90vh; */
}

::after,::before,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #ffc3bd;
    --secondary-color: #d98a8a;
    --color: #7e6462;
    --color:#000
}

html { font-size: 62.5%;
    font-family: roboto, sans-serif;
    background-color: var(--primary-color);
}


.nav{
    height: 60px;
    background-color: rgba(255,195,189,0.9);
    /* margin-bottom: 20px; */
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--color);


    padding:0 10rem
    
}

.logo{
    font-size: 3.5rem;
    font-family:'Sacramento', cursive ;

}

.nav-items a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 400;
    color: var(--color);
    text-transform: uppercase;
    font-size: 1.5rem;
    
}

.hero-content {
    /* max-width: 900px; */
    margin-top: 25vh;
    height: 90vh;
}

.hero-text h1
{
    font-size: 7rem;
    font-family: 'Sacramento', cursive;
}

.hero-selling h1 {
    /* font-size: 38px; */
    margin-bottom: 10px;
}

.hero-selling h2 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.dial{
    font-size:2.5rem;
    text-decoration: none;
    /* color: red; */
    color:#000;
    text-transform: uppercase;
    /* background: #000; */

    }
.dial img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;  
}


.dial:hover img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 8px;  
    transition: 1s;
}
.services{
    padding-top: 10rem;

}
.services h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}

.service-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 2rem;
}


.card img{
    width: 10rem;
}

